/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	/* font-size: 16px;  */
}
body {
	line-height: 1;
	color: #4b4b4b;
	font-family: "Roboto";
	background-color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/*------------------------------------------------------------------------------*/

.main {
	flex-grow: 1;
}
.header {
	background-color: #646464;
	padding: 15px;
	color: #fff;
}
.footer {
	background-color: #646464;
	padding: 15px;
	color: #fff;
}
[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}

/*------------------------------------------------------------------------------*/

.promise {
	padding: 50px 0px;
}
.promise__container {
}
.promise__header {
	margin: 0px 0px 68px 0px;
}
.title {
}
.title *:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.title__head {
	padding: 0px 0px 0px 35px;
	background: url("../img/mark_1.svg") 0 -2px no-repeat;
	color: #5d62b5;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-weight: 700;
}
.title__item {
	color: #000;
	font-size: 36px;
	line-height: 1.16;
	font-weight: 900;
}
.title__head_white {
	background: url("../img/mark_2.svg") 0 -2px no-repeat;
	color: #fff;
}
.title__item_white {
	color: #fff;
}
.promise__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0px -12px;
	margin-bottom: 150px;
}
.promise__item {
	padding: 0px 12px;
	flex: 1 1 33.333%;
	min-width: 260px;
}
.item-promise__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-promise {
	display: flex;
	align-items: flex-start;
	column-gap: 23px;
}
.item-promise__image {
	flex: 0 0 63px;
}
.item-promise__body {
}
.item-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #f2726f;
}
.item-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}

/*------------------------------------------------------------------------------*/

.impact {
	background: #29c3be;
	padding: 0px 0px 210px 0px;
}
.impact__container {
	position: relative;
}
.impact__container::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	right: 50%;
	transform: translate(88%, 0px);
	width: 68%;
	height: 100%;
	background: url("../img/bg_1.png") 0 0/100% no-repeat;
}
.impact__top {
	position: relative;
	display: flex;
	margin: 0px -15px;
}
.impact__top:not(:last-child) {
	margin-bottom: 80px;
}
.impact__content {
	align-self: flex-end;
	flex: 1 1 50%;
	padding: 0px 15px 0px 15px;
}
.impact__header {
	max-width: 420px;
}
.impact__image {
	margin: -7.61% 0px 0px 0px;
	flex: 1 1 50%;
	padding: 0px 15px;
}
.impact__image img {
	border-radius: 40px;
	width: 100%;
}
.impact__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -12px;
	row-gap: 24px;
}
.impact__item {
	display: flex;
	flex: 1 1 25%;
	gap: 10px;
	padding: 0px 12px;
}
.item-impact {
}
.item-impact__image {
	flex: 0 0 76px;
}
.item-impact__body {
}
.item-impact__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.7;
	color: #fff;
}
.item-impact__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5d62b5;
}

/*------------------------------------------------------------------------------*/

.services {
	overflow: hidden;
	padding: 100px 0px 112px 0px;
	position: relative;
}
.services__container {
	position: relative;
	display: flex;
	flex-direction: column;
}
.services__container::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: -100px;
	left: 61%;
	background: url("../img/bg_2.png") left -490px no-repeat;
}
.services__container .services__header {
	margin: 0px 0px 74px 0px;
}
.services__items {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0px -12px;
}
.services__items:not(:last-child) {
	margin: 0px 0px 66px 0px;
}
.services__item {
	padding: 0px 12px;
	flex: 1 1 33.333%;
	min-width: 300px;
}
.item-services {
	background-color: #fff;
	text-align: center;
	border-radius: 20px;
	padding: 50px 44px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.item-services:hover {
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
.item-services__image {
	flex: 0 0 63px;
	width: 63px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.item-services__image img {
	max-width: 100%;
	max-height: 63px;
}
.item-services__image:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.item-services__body {
}
.item-services__title {
	margin: 0px 0px 20px 0px;
}
.item-services__text {
	flex: 1 1 auto;
}
.item-services__text:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.services__button {
	align-self: center;
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 8px;
	background-color: #f2726f;
	padding: 12px 25px;
}
.services__button:hover {
	background-color: #d46563;
}
